:root {
  --red: #990000;
  --bagel: #DDA75F;
  --background: rgba(221, 167, 95, 0.2);


} /*variables*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Raleway;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  color: white;
  background-color: var(--red);
  border: none;
  font-size: 20px;
  padding: 1.1rem;
  transition: color 0.2s, background-color 0.2s;
}

.button:hover {
  color: var(--red);
  background-color: white;
  cursor: pointer;
}

.section-label {
  display: flex;
  justify-content: center;
  color: var(--red);
  font-weight: 600;
  font-size: 30px;
  padding-top: 26px;
  margin-bottom: 20px;
}

.item-label {
  font-size: 22px;
  font-weight: 500;
}

